<div class="as-featured">
	<h1 class="featured-small-screen as-featured">...as featured in Cosmopolitan Bride</h1>
<div>
<footer>	
	<ul class="footer-list">
		<li><h4><a href="">Services |</a></h4></li>
		<li><h4><a href="">Contact |</a></h4></li>
		<li><h4><a href="/">Home</a></h4></li>
	</ul>
</footer>