<nav class="navbar navbar-default" role="navigation">
	<div >
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header navbar-inverse">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="title">
				<h1><a class="navbar-brand" href="/">Cassie Bergman Photography</a></h1>
				<h1 class="featured">...as featured in Cosmopolitan Bride</h1>
			</div>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<!-- <div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav topnav nav-pills navbar-right">
				<li><a href="#">Book</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div> --><!-- /.navbar-collapse -->
		<div id="navbar" class="collapse navbar-inverse navbar-collapse navbar-ex1-collapse">
			<ul class="nav nav-tabs navbar-right">
				<li role="presentation"><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li role="presentation"><a href="/wedding">Weddings</a></li>
				<!-- <li role="presentation"><a href="#">Portraits</a></li> -->
				<li role="presentation"><a href="/kids">Kids</a></li>
				<li role="presentation"><a href="/engagement">Engagement</a></li>
				<li role="presentation"><a href="/family">Family</a></li>
				<li role="presentation"><a href="/maternity">Maternity</a></li>
				<li role="presentation"><a href="#">Graduation</a></li>
				
			<!-- 	<li role="presentation"><a href="#">Animals</a></li> -->
				
			</ul>
		</div><!-- /.navbar-collapse -->
		
	</div>
	
</nav>