<section class="about-container">
	<div class="me">
		<img class="cassie" alt="Cassie Bergman Photography, photo of Cassie Bergman" src="https://c6.staticflickr.com/8/7545/27100502053_44bfdd7622_b.jpg"/>
		<div class="about-script">
			<h1 class="hello box">For over 10 years, Cassie has been pioneering a number of innovative photography techniques, resulting in her photographs being featured in Cosmopolitan Bride and showcased throughout main attractions in the Seattle Metropolitan area. </h1>
		</div>
	</div>
	<div class="about-me">
		<img class="cassie2" alt="Cassie Bergman Photography, photo of Cassie Bergman" src="https://c6.staticflickr.com/8/7427/27100502173_2cb593c599_b.jpg"/>
		<p class="bio box">When it comes to a portrait session, a personal milestone, or even photographs to market a business product or brand, Cassie’s first  priority is you, ensuring you receive brag-worthy, high-quality photos. Each photography engagement is tailored to accomplish your vision. Cassie creates the perfect blend of her client’s expectations and her own instinctive creativity to achieve captivating photos, every time.</p>
	</div>
	<div class="about-me">
		<img class="cassie3" alt="Cassie Bergman Photography, photo of Cassie Bergman" src="https://c7.staticflickr.com/8/7364/27676903646_8807213d4b_b.jpg"/>
		<p class="bio2 box">Through nontraditional means, Cassie pushes the limits of typical photography and ensures that every client feels comfortable and natural in their surroundings. You can expect your experience with Cassie to be one that is fun, exciting, and maybe a little outside the box. In the end, her passionate and eclectic approach allows her to seize the unique moments that you may not be prepared for. </p>
	</div>
	<div class="about-me aboutLastPara">
		<img class="cassie4" alt="Cassie Bergman Photography, photo of Cassie Bergman" src="https://c3.staticflickr.com/8/7576/27624653610_e92658cf23_b.jpg"/>
		<p class="bio3 box">Cassie’s passion goes beyond photos. She values the relationships with her clients and is often thought of as an extension of their family.</br></br> Capturing life’s monumental moments: Graduations, Proposals, Engagements, Weddings, Newborn Birth Announcements, Family Portraits, and even our pets.</br></br><span> Visit the <a href="/investment">Investment Page</a></span> to learn more!</p>
	</div>
</section>
