<section class="about-container">
	<div class="me">
		<img class="cassie" alt="Cassie Bergman Photography, photo of Cassie Bergman" src="https://c6.staticflickr.com/8/7545/27100502053_44bfdd7622_b.jpg"/>
		<div class="about-script">
			<h1 class="hello box">Hi there, I'm Cassie and I'm delighted you're looking into using my photography services!</h1>
		</div>
	</div>
	<div class="about-me">
		<img class="cassie2" alt="Cassie Bergman Photography, photo of Cassie Bergman" src="https://c6.staticflickr.com/8/7427/27100502173_2cb593c599_b.jpg"/>
		<p class="bio box">Photography has been a lifelong hobby for me. Making it a profession was one of the biggest milestones in my life and I truly love what I do. I believe it's my free spirit and passion for art that gives my images that extra edge.</p>
	</div>
	<div class="about-me">
		<img class="cassie3" alt="Cassie Bergman Photography, photo of Cassie Bergman" src="https://c7.staticflickr.com/8/7364/27676903646_8807213d4b_b.jpg"/>
		<p class="bio2 box">I have a way of capturing special moments while making clients feel comfortable and natural in their surroundings. I love to work with clients to create images that combine both my eye and their taste, as much as I love to produce art that is organically my own.</p>
	</div>
	<div class="about-me">
		<img class="cassie4" alt="Cassie Bergman Photography, photo of Cassie Bergman" src="https://c3.staticflickr.com/8/7576/27624653610_e92658cf23_b.jpg"/>
		<p class="bio3 box">I see things differently and experiment with visual perspective by altering images in very unique ways. Whether it’s amping up the exposure or changing the tilt of composition, my goal is to push the limits of “typical” photography.</p>
	</div>
</section>
