<div class="show-image">
	<a class="btn back-btn btn-lg btn-primary glyphicon glyphicon-arrow-left" href="/engagement-gallery"></a>
	<div>
		<div  class="btn btn-priamry text-right"><button id="previous" class="glyphicon glyphicon-chevron-left"></button></div>
		<div  class="btn btn-priamry text-right"><button id="next" class="glyphicon glyphicon-chevron-right"></button></div>
		<div class="blink">
			<h2 id="loading">
				Loading
				<span class="loader__dot">.</span>
				<span class="loader__dot">.</span>
				<span class="loader__dot">.</span>
			</h2>
		</div>
	</div>
	<div class="image">
		<!-- <h3 class="image-title"> <%= engagementImages.title %> </h3> -->
		<img id="showImage" alt="Cassie Bergman Photography" src="<%= engagementImages.src %>"/>
	</div>
</div>