<div class="show-image">
	<a class="btn back-btn btn-lg btn-primary glyphicon glyphicon-arrow-left" href="/wedding-gallery">
	<div class="image">
		<a class="btn print-btn btn-primary btn-lg" href="mailto:cassie@example.com?subject=<%= engagementImages.subject %>&body=<%= engagementImages.content %>">Print Canvas</a>
		<h3 class="image-title"> <%= engagementImages.title %> </h3>
		<img alt="Cassie Bergman Photography" src="<%= engagementImages.src %>"/>
	</div>
</div>