<div id="carousel-id" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class=""></li>
		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
		<li data-target="#carousel-id" data-slide-to="2" class="active"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img alt="Cassie Bergman Photography, Engagement Photo" src="https://c3.staticflickr.com/8/7441/27111226490_d51135e18b_b.jpg">
			<div class="container">
				<div class="engagement-btn">
					<a class="btn btn-lg btn-primary" href="engagement-gallery" role="button">Browse Gallery</a>
				</div>
			</div>
		</div>
		<div class="item">
			<img alt="Cassie Bergman Photography, Engagement Photo" src="https://c3.staticflickr.com/8/7741/27111225050_da7de3574a_b.jpg">
			<div class="container">
				<div class="engagement-btn">
					<a class="btn btn-lg btn-primary" href="engagement-gallery" role="button">Browse Gallery</a>
				</div>
			</div>
		</div>
		<div class="item">
			<img alt="Cassie Bergman Photography, Engagement Photo" src="https://c2.staticflickr.com/8/7316/26780178713_6f9b87887e_b.jpg">
			<div class="engagement-btn">
				<div class="engagement-button">
					<a class="btn btn-lg btn-primary" href="engagement-gallery" role="button">Browse Gallery</a>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>