<div class="container">
	<a class="btn back-btn btn-lg btn-primary glyphicon glyphicon-arrow-left" href="/family"></a>
	<div class="showImages">
		<ul class="gallery">
			<% familyImages.forEach(function(image, idx){ %>
			<li><a href="family-images/<%= idx %>"><img class="gallery" src="<%= image.src %>"/></a></li>	
			<% }); %>
		</ul>
	</div>
</div>