<div class="show-image">
	<a class="show-back-btn btn btn-primary btn-lg" href="/family-gallery">Back</a>
	<div class="image">
		<a class="btn print-btn btn-primary btn-lg" href="mailto:cassie@example.com?subject=<%= familyImages.subject %>&body=<%= familyImages.content %>">Print Canvas</a>
		<h3 class="image-title"> <%= familyImages.title %> </h3>
		<img alt="Cassie Bergman Photography" src="<%= familyImages.src %>"/>
	</div>
</div>