<div class="show-image">
	<a class="back-btn btn btn-primary btn-lg" href="/family-gallery">Back</a>
	<div class="galleryNavContainer">
		<div class="galleryNav">
			<ul>
				<li><div  class=" text-right"><button id="previous" class="btn btn-primary glyphicon glyphicon-chevron-left"></button></div></li>
				<li><div  class="text-right"><button id="next" class="btn btn-primary glyphicon glyphicon-chevron-right"></button></div></li>
			</ul>
		</div>
	</div>
	<div class="image">
		<!-- <h3 class="image-title"> <%= familyImages.title %> </h3> -->
		<img alt="Cassie Bergman Photography" class="family" src="<%= familyImages.src %>"/>
	</div>
</div>