<section>
	<div class="container">
		</br>
		<h2 class="short-value-prop short-first">
			Since 2001, Cassie Bergman has been trusted to capture life’s most precious events and experiences. With the ability to see beyond the lens, she is able to capture moments in a nontraditional way, allowing each image to be versatile, cutting edge, and unique. Going beyond the traditional checklist allows her instinctive creativity to acquire higher quality results.
		</h2>
		</br>
		<h2 class="short-value-prop short-second">
			Cassie values the relationships with her clients, becoming an extension of their family and special day, not just another photographer. Taking the time to focus on the needs of the client, and tailoring each session to accomplish their vision, is where her passion truly lies. With her vast experience and investment in producing high quality photos, Cassie is devoted to delivering the value directly to you. 
		</h2>
		<hr>
		<h2 class="short-value-prop last-prop">
			Thank you for taking the time to learn more about Cassie Bergman Photography.</br></br>
			I would love to be your trusted photgrapher. Please complete the form bellow and tell me a little more about you and your photography needs.
			</br>
		</h2>
		<hr>

	</div>
	<div class="inquiry">
	<script style="margin-bottom: 100px;" type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef.replace(/(<([^>]+)>)/ig,'')).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-2115717.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>
	</div>
</section>