<section>
	<div class="container text-center">
		</br>
		<hr>
		<p class="short-value-prop last-prop">
			To learn more about Cassie Bergman Photography, visit the <a href="/about" target="_blank">About</a> page!
			</br>
		</p>
		<hr>

		<p>Thank you for taking the time to learn more about Cassie Bergman Photography.</p>

<p>I would love to be your trusted photographer. Please complete the form below and tell me a little more about you and your photography needs.</p>
		</br>

	</div>
	<div class="inquiry">
	<script style="margin-bottom: 100px;" type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef.replace(/(<([^>]+)>)/ig,'')).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-2115717.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>
	</div>
</section>