<div class="show-image">
	<a class="show-back-btn btn btn-primary btn-lg" href="/kids-gallery">Back</a>
	<div class="image">
		<a class="btn print-btn btn-primary btn-lg" href="mailto:cassie@example.com?subject=<%= kidsImages.subject %>&body=<%= kidsImages.content %>">Print Canvas</a>
		<h3 class="image-title"> <%= kidsImages.title %> </h3>
		<img alt="Cassie Bergman Photography" src="<%= kidsImages.src %>"/>
	</div>
</div>