<div class="show-image">
	<a class="btn back-btn btn-lg btn-primary glyphicon glyphicon-arrow-left" href="/maternity-gallery">
	<div class="image">
		<a class="btn print-btn btn-primary btn-lg" href="mailto:cassie@example.com?subject=<%= maternityImages.subject %>&body=<%= maternityImages.content %>">Print Canvas</a>
		<h3 class="image-title"> <%= maternityImages.title %> </h3>
		<img alt="Cassie Bergman Photography" src="<%= maternityImages.src %>"/>
	</div>
</div>