<div class="show-image">
	<a class="btn back-btn btn-lg btn-primary glyphicon glyphicon-arrow-left" href="/maternity-gallery"></a>
	<div class="galleryNavContainer">
		<div class="galleryNav">
			<ul>
				<li><div  class=" text-right"><button id="previous" class="btn btn-primary glyphicon glyphicon-chevron-left"></button></div></li>
				<li><div  class="text-right"><button id="next" class="btn btn-primary glyphicon glyphicon-chevron-right"></button></div></li>
			</ul>
		</div>
	</div>
	<div class="image">
	<!-- 	<h3 class="image-title"> <%= maternityImages.title %> </h3> -->
		<img alt="Cassie Bergman Photography" src="<%= maternityImages.src %>"/>
	</div>
</div>