<div id="carousel-id" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel-id" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
		<li data-target="#carousel-id" data-slide-to="2" class=""></li>
		<li data-target="#carousel-id" data-slide-to="3" class=""></li>
	</ol>
	<div class="carousel-inner">
	<div class="item active">
			<img class="front-page-img" src="https://c5.staticflickr.com/8/7321/27606820244_4a010f0280_b.jpg" alt="Cassie Bergman Photography, Wedding Photo"/>
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c3.staticflickr.com/8/7422/28118702402_6a34e626cb_b.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" src="https://c6.staticflickr.com/8/7342/27107170333_2f8f7f6fab_b.jpg" alt="Cassie Bergman Photography, Batey Wedding 2016"/>
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c2.staticflickr.com/8/7583/27712598945_108d3c399b_c.jpg"/>
		</div>
		<div class="item">
			<img class="front-page-img" src="https://c6.staticflickr.com/8/7291/27717611285_66d8295ae5_b.jpg" alt="Cassie Bergman Photography, Batey Wedding 2016"/>
			<img class="small-screen-img img-responsive" alt="Cassie Bergman Photography, photo picture of Cassie Bergman" src="https://c2.staticflickr.com/8/7419/27712598905_dcfe0491e4_c.jpg"/>
		</div>
		<!-- <div class="item active">
			<img alt="Cassie Bergman Photography, Maternity Photos" src="https://c3.staticflickr.com/8/7212/27353933746_f964fd7ec6_b.jpg">
		</div>
		<div class="item">
			<img alt="Cassie Bergman Photography, Maternity Photos" src="https://c2.staticflickr.com/8/7583/27712598945_108d3c399b_c.jpg">
		</div>
		<div class="item">
			<img alt="Cassie Bergman Photography, Maternity Photos" src="https://c2.staticflickr.com/8/7419/27712598905_dcfe0491e4_c.jpg">
		</div>
		<div class="item">
			<img alt="Cassie Bergman Photography, Maternity Photos" src="https://c7.staticflickr.com/8/7695/27678671966_4757dedc9c_c.jpg">
		</div> -->
		
	</div>
	<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-controller glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-controller glyphicon-chevron-right"></span></a>
</div>
<div class="gallery-btn-container">
	<div class="gallery-btn">
		<a class="btn btn-lg btn-primary centered" href="/maternity-gallery" role="button">BROWSE GALLERY</a>
	</div>
</div>
