<div class="show-image">
	<a class="show-back-btn btn btn-primary btn-lg" href="/maternity-gallery">Back</a>
	<div class="image">
		<a class="btn print-btn btn-primary btn-lg" href="mailto:cassie@example.com?subject=<%= maternityImages.subject %>&body=<%= maternityImages.content %>">Print Canvas</a>
		<h3 class="image-title"> <%= maternityImages.title %> </h3>
		<img alt="Cassie Bergman Photography" src="<%= maternityImages.src %>"/>
	</div>
</div>