<section class="testimonial-page">
	<div class="testimonial-title">
		<a href="#testimonial"><h1>TESTIMONIALS</h1></a>
	</div>
	<img class="testimonial-img img-responsive" alt="Cassie Bergman Photography" src="https://c3.staticflickr.com/8/7073/27677491106_ce464e6f74_b.jpg"/>
	<div id="testimonial" >
		<div class="well">
			<p class=" personal-testimonial">"Cassie shot my sororities graduation pictures this year and she was wonderful to work with! Shooting a group of 28+ girls can be a daunting task, but she was so great throughout the entire process. She brought some really cool/unique ideas and perspectives for pictures that we would have never thought of before. The photos she took of us turned out incredible! Cassie is extremely talented and great to work with, I would highly recommend her for any occasion."</p>
			<span><img class="text-center" src="https://c7.staticflickr.com/8/7100/27099120254_518d8ccdbe.jpg"/></span></br></br><span>- Theresa O.</span>
		</div>
		<div class="well">
			<p class="personal-testimonial">"Cassie took photos of our graduating pledge class and was so amazing to work with! She had the best ideas, was very enthusiastic and positive, and managed 30 girls like a champ! We couldn't have asked for a better photographer. I would absolutely recommend her if you ever need professional photographs!
			PS she's also hilarious!"</p><span><img class="text-center" src="https://c3.staticflickr.com/8/7292/27403088650_9ebc6aa9e0.jpg"/></span></br></br><span>- Carolyn E.</span>
		</div>
		<div class="well">
			<p class="personal-testimonial">"Cassie Bergman shot my wedding in San Diego, CA April 2016. Not only did she do a fantastic job taking pictures that were above and beyond my imagination, but she traveled from Washington state to do so. Cassie has a personality that allows you to relax and feel comfortable while maintaining a professional exterior. Her shots are filled with creativity, imagination, precision and love that allow her creations to be one of a kind and to the highest quality. If you're a perfectionist (as I am) and want nothing but the best for your wedding/graduation/family portraits/expecting/new borns/everything and anything, I highly recommend Cassie Bergman Photography. You will not be disappointed."</p>
			<span>
				<img class="text-center" src="https://c5.staticflickr.com/8/7202/27099120924_fe2ca00392.jpg"/>
			</span>
			</br></br><span>- Holly &amp; Nate</span></br></br>
		</div>
		<div class="well">
			<p class="personal-testimonial">"Cassie shot our wedding in July of 2016 in Spokane, Washington. Cassie is not only talent as evident from her photos, but is absolutely amazing to work with. She is extremely professional -- but also so fun! Our whole wedding group had an amazing time with her and made everyone feel comfortable, which helps a lot when you don't spend a ton of time in front of the camera! She has such an eye for the details, so I was able to trust her fully with capturing the full feel of the day from start to finish. She's creative and has an eye for great shots -- Things that you wouldn't think of! She is so talented and truly an absolute pleasure to work with -- And the photos... WOW. Stunning."</p>
			<span>
				<img class="text-center" src="https://c3.staticflickr.com/9/8520/29113917706_84822f6d0d.jpg"/>
			</span>
			</br>
			</br>
			<span>- Carly &amp; Nick</span></br></br>
		</div>
		<div class="well">
			<p class="personal-testimonial">"Cassie helped capture my beachside proposal and worked with me every step of the way. She went to the location 2 hours early and scoped out all the lighting and the angles, I appreciate her going above and beyond! Needless to say the pictures came out fantastic and I would highly recommend her!"</p>
			<span>
				<img class="text-center" src="https://c1.staticflickr.com/8/7455/27676903456_efdb156a85.jpg"/>
			</span>
			</br></br><span>- Josh E.</span></br></br>
		</div>
		<div class="well">
			<p class="personal-testimonial">"Cassie did a fantastic job with our family pregnancy pictures. She gave us some precious pictures that we will treasure for a lifetime!!! She is fantastic at what she does and has an amazing eye."</p>
			<span>
				<img class="text-center" src="https://c1.staticflickr.com/8/7330/27105404064_fc2410a949.jpg"/>
			</span>
			</br></br><span>- Lisa M.</span></br></br>
		</div>
		<div class="well">
			<p class="personal-testimonial">"Absolutely loved our newborn photos of baby Alexander! Cassie was very patient through lots of fussing and nursing. And the pictures came out beautiful! Thank you!"</p>
			<span>
				<img class="text-center" src="https://c1.staticflickr.com/9/8224/28607458152_0c63c7237e.jpg"/>
			</span>
			</br></br><span>- Alana C.</span></br></br></br>
		</div>
	</div>
</section>