<section class="testimonial-page">
	<div class="testimonial-title">
		<a href="#testimonial"><h1>TESTIMONIALS</h1></a>
	</div>
	<img class="testimonial-img img-responsive" alt="Cassie Bergman Photography" src="https://c3.staticflickr.com/8/7073/27677491106_ce464e6f74_b.jpg"/>
	<div id="testimonial" >
		<p class="well personal-testimonial">"Cassie shot my sororities graduation pictures this year and she was wonderful to work with! Shooting a group of 28+ girls can be a daunting task, but she was so great throughout the entire process. She brought some really cool/unique ideas and perspectives for pictures that we would have never thought of before. The photos she took of us turned out incredible! Cassie is extremely talented and great to work with, I would highly recommend her for any occasion."</br></br><span>- Theresa O.</span></p>

		<p class="well personal-testimonial">"Cassie took photos of our graduating pledge class and was so amazing to work with! She had the best ideas, was very enthusiastic and positive, and managed 30 girls like a champ! We couldn't have asked for a better photographer. I would absolutely recommend her if you ever need professional photographs!
		PS she's also hilarious!"</br></br><span>- Carolyn E.</span></p>

		<p class="well personal-testimonial last">"Cassie Bergman shot my wedding in San Diego, CA April 2016. Not only did she do a fantastic job taking pictures that were above and beyond my imagination, but she traveled from Washington state to do so. Cassie has a personality that allows you to relax and feel comfortable while maintaining a professional exterior. Her shots are filled with creativity, imagination, precision and love that allow her creations to be one of a kind and to the highest quality. If you're a perfectionist (as I am) and want nothing but the best for your wedding/graduation/family portraits/expecting/new borns/everything and anything, I highly recommend Cassie Bergman Photography. You will not be disappointed."</br></br><span>- Holly M.</span></br></br></p>
	</div>
</section>