<div class="container">
	<h1>Wedding Images</h1>
	<a class="btn btn-primary" href="/">BACK</a>
	<div class="showImages">
		<ul class="gallery">
			<% weddingImages.forEach(function(image, idx){ %>
			<li><a href="wedding-images/<%= idx %>"><img class="gallery-img" src="<%= image.src %>"/></a></li>	
			<% }); %>
		</ul>
	</div>
</div>