<section class="show-image">
	<a class="btn back-btn btn-lg btn-primary glyphicon glyphicon-arrow-left" href="/wedding-gallery"></a>
	<div class="image text-center">
		<img alt="Cassie Bergman Photography" class="col-xs-11 col-md-8" src="<%= weddingImages.src %>"/>
	</div>
</section>